<?xml version="1.0"?>
<model>
  <name>UoM Lake Terrain</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Abdul Rafi</name>
    <email>rafi@example.com</email>
  </author>
  <description>3D terrain mesh of the University of Moratuwa lake area.</description>
</model>
